<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/Vinh/css/Header.css">
    <link rel="stylesheet" href="/Vinh/css/Footer.css">
    <link rel="stylesheet" href="/nha/css/Demo.css">
    <title>Quản lý đơn hàng</title>

</head>
<body>
<div th:insert="~{/HeaderFooter/Header::header-cline}"></div>
<div class="main ">
    <div class="search__form">
        <form action="/nhas/pagaList" method="post">
            <label>Tên Người Dùng</label>
            <input type="text" class="filter__input" name="nameUser" id="mem-name"/>
            <label>Tên Sản Phẩm</label>
            <input type="text"  class="filter__input" name="nameProduct" id="mem-add"/>
            <button class="filter__btn" type="submit">Lọc kết quả</button>
        </form>
    </div>
    <div class="main__userbill ">
    <div th:insert="~{/nha/admin/ListProduct::main__left}" ></div>

    <div class="main__right">
        <div class="main__right-table">
            <table class="table table-hover text-center">
                <thead class="table__thead">

                <tr>
                    <th>STT</th>
                    <th>Mã giao dịch</th>
                    <th>Thời gian </th>
                    <th>Người mua</th>
                    <th>Tên sản phẩm</th>
                    <th>Thành tiền</th>
                    <th>Tình trạng giao dịch</th>
                    <th>Xem chi tiết hóa đơn</th>
<!--                    <th>Xóa</th>-->
                </tr>
                </thead>
                <tbody>
                <tr th:each="listProduct,iterStat:${listDonGia}">
                    <td th:text="${iterStat.count}"></td>
                    <td th:text="${listProduct.idBill}"></td>
                    <td th:text="${listProduct.current}"></td>
                    <td th:text="${listProduct.user.name}"></td>
                    <th:block th:if="${listProduct.productBills.size()>0}">
                        <td>
                            <th:block  th:each="item:${listProduct.productBills}">
                                <span th:text="${item.product.productName}"></span>
                            </th:block>
                        </td>
                    </th:block>
                    <th:block th:if="${listProduct.tempBillProducts.size()>0}">
                        <td>
                            <th:block  th:each="item:${listProduct.tempBillProducts}">
                                <span th:text="${item.tempProduct.productName}"></span>
                            </th:block>
                        </td>
                    </th:block>
                    <th:block th:if="${listProduct.tempAuction != null}">
                        <td th:text="${listProduct.tempAuction.productName}"></td>
                    </th:block>
                    <td th:text="${listProduct.totalCost}"></td>
                    <td th:text="${listProduct.status}"></td>
                    <td>
                        <a th:href="@{/nhas/bill/{id}/view(id=${listProduct.idBill})}">
                            <button class="button__action background-blue" >
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="center">
<!--            <div class="center__pagination">-->
<!--                <span th:text="${listDonGia.number + 1}"></span>/<span-->
<!--                    th:text="${listDonGia.totalPages}"></span>-->
<!--            </div>-->
            <div class="center__pagination_img">
                <a th:href="@{'/nhas/dongia'(page=${listDonGia.number - 1})}"
                   th:if="${listDonGia.hasPrevious()}">
                    <img class="img__arrow" src="/Images/arrrowleft.png" alt=""/>
                </a>
                <a>
                    <span th:text="${listDonGia.number + 1}"></span>/<span
                        th:text="${listDonGia.totalPages}"></span>
                </a>
                <a th:href="@{'/nhas/dongia'(page=${listDonGia.number + 1})}"
                   th:if="${listDonGia.hasNext()}">
                    <img class="img_arrow" src="/Images/arrowright.png" alt=""/>
                </a>
            </div>
        </div>
    </div>
    </div>

</div>


</body>
</html>