<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create Discount</h1>
<form th:action="@{/discount} " method="post" th:object="${discount}">
    <label>tên discount</label> <br>
    <input th:field="*{nameDiscount}"> <br>
    <label>ngày discount</label> <br>
    <input th:field="*{datePost}" type="date"> <br>
    <label>chi tiết discount</label> <br>
    <input th:field="*{description}"> <br>
    <label>Số lượng discount</label> <br>
    <input th:field="*{quantity}"> <br>
    <label>Số tiền discount</label> <br>
    <select th:field="*{percent}">
        <option th:value="50" >50000</option>
        <option th:value="100" >100000</option>
        <option th:value="200" >200000</option>
        <option th:value="300" >300000</option>
    </select>
    <button type="submit">Save</button>
</form>
</body>
</html>