<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Choices CSS-->
    <link rel="stylesheet" href="/Hau/shop/choices.min.css">
    <!--    Header CSS-->
    <link rel="stylesheet" href="/Vinh/css/Header.css">
    <!--    Footer CSS-->
    <link rel="stylesheet" href="/Vinh/css/Footer.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/Hau/shop/shop.css">
</head>

<body>
<header th:insert="~{HeaderFooter/Header::header-cline}"></header>

<div class="container">

    <!--    <section class="py-5 bg-light">-->
    <!--        <div class="container">-->
    <!--            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">-->
    <!--                <div class="col-lg-6">-->
    <!--                    <h1 class="h2 text-uppercase mb-0">Shop</h1>-->
    <!--                </div>-->
    <!--                <div class="col-lg-6 text-lg-end">-->
    <!--                    <nav aria-label="breadcrumb">-->
    <!--                        <ol class="breadcrumb justify-content-lg-end mb-0 px-0 bg-light">-->
    <!--                            <li class="breadcrumb-item"><a class="text-dark" href="@{/}">Home</a></li>-->
    <!--                            <li class="breadcrumb-item active" aria-current="page">Shop</li>-->
    <!--                        </ol>-->
    <!--                    </nav>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </section>-->
    <!--    SHOP DETAIL-->
    <section class="py-5 bg-light mt-2 mb-2">
        <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                <div class="col-lg-6">
                    <h1 class="h2 text-uppercase mb-0" th:text="${users.getName()}">Shop</h1>
                </div>
                <div class="col-lg-6 text-lg-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-lg-end mb-0 px-0 bg-light">
                            <li class="breadcrumb-item"><a class="text-dark" href="@{/}">Liên Hệ Email</a></li>
                            <li class="breadcrumb-item active" aria-current="page" th:text="${users.gmail}"></li>
                        </ol>
                        <ol class="breadcrumb justify-content-lg-end mb-0 px-0 bg-light">
                            <li class="breadcrumb-item"><a class="text-dark" href="@{/}">Số Lượng Sản Phẩm</a></li>
                            <li class="breadcrumb-item active" aria-current="page" th:text="${quantity}"></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="container p-0">
    <div class="row">
        <!-- SHOP SIDEBAR-->
        <div class="col-lg-3 order-2 order-lg-1">
            <h5 class="text-uppercase mb-4">Categories</h5>
            <div class="py-2 px-4 bg-dark text-white mb-3"><strong class="small text-uppercase fw-bold">Fashion &amp; Acc</strong></div>
            <div th:if="${categoryList != null}">
                <ul class="list-unstyled small text-muted ps-lg-4 font-weight-normal" th:each="cate:${categoryList}">
                    <li class="mb-2"><a class="reset-anchor" th:href="@{'/searchProduct/'+${cate.idCategory}+'?nameProduct='}" th:text="${cate.categoryName}"></a></li>
                </ul>
            </div>
        </div>
        <!-- SHOP LISTING-->
        <div class="col-lg-9 order-1 order-lg-2 mb-5 mb-lg-0">
            <div class="row mb-3 align-items-center">
                <div class="col-lg-6 mb-2 mb-lg-0">
                    <p class="text-sm text-muted mb-0">Showing 1–12 of 53 results</p>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline d-flex align-items-center justify-content-lg-end mb-0">
                        <li class="list-inline-item text-muted me-3"><a class="reset-anchor p-0" href="#!"><i class="fas fa-th-large"></i></a></li>
                        <li class="list-inline-item text-muted me-3"><a class="reset-anchor p-0" href="#!"><i class="fas fa-th"></i></a></li>
                        <li class="list-inline-item">
                            <select class="selectpicker form-control form-control-sm">
                                <option value>Sort By </option>
                                <option value="default">Default sorting </option>
                                <option value="popularity">Popularity </option>
                                <option value="low-high">Price: Low to High </option>
                                <option value="high-low">Price: High to Low </option>
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-6 mt-2 mb-2">
                    <div class="py-2 px-4 bg-dark text-white mb-3"><a class="small text-uppercase fw-bold" th:href="@{'/listDiscount/'+${idUser}}">Mã giảm giá</a></div>
                </div>
                <div class="col-lg-6 mt-2 mb-2">
                    <div class="py-2 px-4 bg-dark text-white mb-3"><a class="small text-uppercase fw-bold" th:href="'/searchProduct/'+${idCategory}+'?nameProduct=new'">Mới Nhất</a></div>
                </div>


                </div>
                <div class="home-product ">
                    <!-- grid -> row -> column -->
                    <div class="grid__row">

                        <!--                day la code discount list-->
                        <h2> Danh sách mã giảm giá</h2>
                        <table class="table table-striped">

                            <div >
                                <tr>
                                    <th>id</th>
                                    <th>Mã giảm giá</th>
                                    <th>Trạng thái</th>
                                </tr>
                                <tr th:each="CodeList :${discountCodeList}">
                                    <td>
                                        <div th:text="${CodeList.idDiscountCode}"></div>
                                    </td>
                                    <td>
                                        <div th:text="${CodeList.code}"></div>
                                    </td>
                                    <td>
                                        <div th:text="${CodeList.discountStatus}"></div>
                                    </td>
                                </tr>
                            </div>
                        </table>
                    </div>

<!--                    <div class="container text-center">-->
<!--                        &lt;!&ndash;/*@thymesVar id="hasPrevious" type=""*/&ndash;&gt;-->
<!--                        <a th:href="@{'/viewShop/'+${idUser}(page=${product.number - 1})}"-->
<!--                           th:if="${product.hasPrevious()}"><i class="fa-solid fa-angle-left"></i></a>-->
<!--                        &lt;!&ndash;    <span th:text="${employee.number + 1}"></span>/<span th:text="${employee.totalPages}"></span>&ndash;&gt;-->
<!--                        <th:block th:each="i: ${#numbers.sequence(0, 1)}"-->
<!--                                  th:if="${product.number < product.totalPages - 1}">-->
<!--                            <a th:href="@{'/viewShop/'+${idUser}(page=${product.number + i})}"-->
<!--                               th:text="${product.number + i +1}"></a>-->
<!--                        </th:block>-->

<!--                        &lt;!&ndash;/*@thymesVar id="number" type=""*/&ndash;&gt;-->
<!--                        <a th:href="@{'/viewShop/'+${idUser}(page=${product.number + 1})}"-->
<!--                           th:if="${product.hasNext()}"><i class="fa-solid fa-angle-right"></i></a>-->
<!--                    </div>-->

                </div>
<!---->
            </div>
        </div>
    </div>

<div th:insert="~{/HeaderFooter/Footer::footer_clinet}">

</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<!-- Select2 CSS -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Select2 JS -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script>
    /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }

    var maxHeight = 400;

    $(function () {

        $(".dropdown > li").hover(function () {

            var $container = $(this),
                $list = $container.find("ul"),
                $anchor = $container.find("a"),
                height = $list.height() * 1.1, // make sure there is enough room at the bottom
                multiplier = height / maxHeight; // needs to move faster if list is taller

            // need to save height here so it can revert on mouseout
            $container.data("origHeight", $container.height());

            // so it can retain it's rollover color all the while the dropdown is open
            $anchor.addClass("hover");

            // make sure dropdown appears directly below parent list item
            $list
                .show()
                .css({
                    paddingTop: $container.data("origHeight")
                });

            // don't do any animation if list shorter than max
            if (multiplier > 1) {
                $container
                    .css({
                        height: maxHeight,
                        overflow: "hidden"
                    })
                    .mousemove(function (e) {
                        var offset = $container.offset();
                        var relativeY = ((e.pageY - offset.top) * multiplier) - ($container.data("origHeight") * multiplier);
                        if (relativeY > $container.data("origHeight")) {
                            $list.css("top", -relativeY + $container.data("origHeight"));
                        }
                        ;
                    });
            }

        }, function () {

            var $el = $(this);

            // put things back to normal
            $el
                .height($(this).data("origHeight"))
                .find("ul")
                .css({
                    top: 0
                })
                .hide()
                .end()
                .find("a")
                .removeClass("hover");

        });

    });
    $(document).ready(function () {

        // Initialize select2
        $("#selUser").select2();

        // // Read selected option
        // $('#but_read').click(function(){
        //     var username = $('#selUser option:selected').text();
        //     var userid = $('#selUser').val();
        //
        //     $('#result').html("id : " + userid + ", name : " + username);
        //
        // });
    });
</script>
</body>

</html>