<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <link rel="stylesheet" href="/Vinh/css/Header.css">
    <link rel="stylesheet" href="/Vinh/css/Footer.css">
    <!-- Link font-awesome -->
    <link rel="stylesheet" href="/nha/css/Home.css">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/nha/css/Home.css">
    <link rel="stylesheet" href="/nha/css/search.css">
    <link rel="stylesheet" href="/Hau/shopCss.css">
</head>

<body>
<div class="header__container" th:fragment="header-cline">
    <div class="header__top" sec:authorize="isAuthenticated()">
        <div class="header__top-right">
            <a href="/auction">
                <button>
                    <img src="/Images/icons8-auction-32.png"/>
                    Đấu giá
                </button>
            </a>
        </div>
        <div class="header__top-left">
            <button class="btn btn-primary " type="button" style="background-color: #FFCC20; border: 1px solid #FFCC20"
                    sec:authorize="hasRole('ADMIN') or hasRole('SALER')">
                <div class="header__management" sec:authorize="hasRole('ADMIN') or hasRole('SALER')">
                    <i class="material-icons" title="Account" style="font-size: 25px;cursor: pointer;"
                       data-uw-styling-context="true">person</i>
                    <span class="caret" th:if="${admin == 'là admin'}">
                        <a style="text-decoration: none; color:white" href="/admin/">Quản lý</a>
                     </span>

                    <span class="caret" th:if="${admin == 'là saler'}">
                         <a style="text-decoration: none; color:white" href="/product/list">Truy cập đến shop</a>
                    </span>
                </div>
            </button>
        </div>
    </div>
    <div class="header__second">

        <div class="header__logo">
            <a href="/">
                <img src="/Images/Logo-Neffex.png"/>
            </a>
        </div>

        <div class="header__search">

        </div>
        <div class="button__login" th:unless="${userNames}">
                    <span class="txt"><a style="color: white" href="/login">
                            Đăng nhập
                        </a></span>
        </div>
        <div class="header__navigation" th:if="${userNames}">
            <div class="header__navigation-img">
                <a href="/showCart">
                    <img src="/Images/cart-nav-white.00018279d92b8685ff0d50c146eefe5491200c0b.svg" alt="">
                </a>
            </div>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
                        style="background-color: #FFCC20; border: 1px solid #FFCC20; display: flex;align-items: center">
                    <i class="material-icons" title="Account" style="font-size: 25px;cursor: pointer;"
                       data-uw-styling-context="true">person</i>
                    <span class="caret">Chào mừng, [[${userNames.name}]]</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a th:if="${userNames}" th:href="@{/ProfileDetail/__${userNames.idUser}__}">Hồ sơ cá nhân</a>
                    </li>
                    <li><a href="/showCart">Giỏ Hàng</a></li>
                    <li><a href="/logout">Đăng Xuất</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-4 ">
            <div class="box">
                <i class="fa-solid fa-shop fa-5x">
                </i>
                <div class="nameShop" th:text="${users.getName()}"></div>
            </div>
        </div>
        <div class="col-4">
            <label>Lien He Email</label>
            <div class="titleCategory" th:text="${users.gmail}"></div>
            <label>Dia Chi</label>
            <div class="titleCategory" th:text="${users.address}"></div>
        </div>
        <div class="col-4">
            <label>So Luong San Pham </label>
            <div class="titleCategory" th:text="${quantity}"></div>
        </div>
    </div>
</div>
<div class="app__container">
    <div class="grid">
        <div class="grid__row app__content">
            <div class="grid__column-2">
                <nav class="category">
                    <ul class="dropdown">
                        <li class="drop"><a href="#">Danh mục</a>
                            <ul class="sub_menu">
                                <th:block>
                                    <li th:each="cate:${categoryList}">
                                        <a th:href="@{'/searchProduct/'+${cate.idCategory}+'?nameProduct='}"
                                           th:text="${cate.categoryName}"></a>
                                    </li>
                                </th:block>
                            </ul>
                        </li>
                    </ul>
                    <ul class="category-list">
                        <th:block th:if="${categoryList != null}">
                            <div th:each="cate:${categoryList}">
                                <li th:class="${idCategory == cate.idCategory}?'category-item category-item--active':'category-item'">
                                    <a th:href="@{'/searchProduct/'+${cate.idCategory}+'?nameProduct='}"
                                       class="category-item__link" th:text="${cate.categoryName}"></a>
                                </li>
                            </div>
                        </th:block>
                    </ul>
                </nav>


<!--                &lt;!&ndash;                day la code discount list&ndash;&gt;-->
<!--                <h2> Danh sách mã giảm giá</h2>-->
<!--                <table class="table table-striped">-->

<!--                    <div th:each="CodeList :${discountCodeList}">-->
<!--                        <tr>-->
<!--                            <th>id</th>-->
<!--                            <th>Mã giảm giá</th>-->
<!--                            <th>Trạng thái</th>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>-->
<!--                                <div th:text="${CodeList.idDiscountCode}"></div>-->
<!--                            </td>-->
<!--                            <td>-->
<!--                                <div th:text="${CodeList.code}"></div>-->
<!--                            </td>-->
<!--                            <td>-->
<!--                                <div th:text="${CodeList.discountStatus}"></div>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                    </div>-->
<!--                </table>-->
            </div>
            <div class="grid__column-10">
                <div class="home-filter">
                    <span class="home-filter__label">Sắp xếp theo</span>
                    <th:block th:if="${idCategory !=null}">
                        <form method="get" th:action="'/searchProduct/'+${idCategory}">
                            <select id='selUser' name="nameProduct" class="home-filter__btn btn">
                                <option value=''>Select User</option>
                                <th:block th:if="${searchProduct != null}">
                                    <option th:each="sanPham:${searchProduct}"
                                            th:value="${sanPham.product.productName}">
                                        <a th:text="${sanPham.product.productName}"></a>
                                    </option>
                                </th:block>
                            </select>

                            <button class="home-filter__btn btn" type="submit">Tìm Kiếm</button>
                            <a th:href="@{'/listDiscount/'+${idUser}}" class="home-filter__btn btn">Mã giảm giá</a>
                            <a class="home-filter__btn btn btn--primary"
                               th:href="'/searchProduct/'+${idCategory}+'?nameProduct=new'">Mới nhất</a>
                            <div class="select-input">
                                <span class="select-input__label">Giá</span>
                                <i class="select-input__icon fas fa-angle-down"></i>
                                <ul class="select-input__list">
                                    <li class="select-input__item">
                                        <a th:href="'/searchProduct/'+${idCategory}+'?nameProduct=desc'"
                                           class="select-input__link">Giá: thấp đến cao</a>
                                    </li>
                                    <li class="select-input__item">
                                        <a th:href="'/searchProduct/'+${idCategory}+'?nameProduct=asc'"
                                           class="select-input__link">Giá: cao đến thấp</a>
                                    </li>

                                </ul>
                            </div>
                        </form>
                    </th:block>
                    <th:block th:if="${idCategory ==null}">
                        <form method="get" action="/searchProduct/">
                            <select id='selUser' name="nameProduct" class="home-filter__btn btn">
                                <option value=''>Select User</option>
                                <th:block th:if="${listProduct != null}">
                                    <option th:each="sanPham:${listProduct}" th:value="${sanPham.productName}">
                                        <a th:text="${sanPham.productName}"></a>
                                    </option>
                                </th:block>

                            </select>
                            <input hidden="hidden" name="page" value="0">
                            <button class="home-filter__btn btn" type="submit">Tìm Kiếm</button>
                            <a th:href="@{'/listDiscount/'+${idUser}}" class="home-filter__btn btn">Mã giảm giá</a>
                            <button class="home-filter__btn btn btn--primary">Mới nhất</button>
                            <div class="select-input">
                                <span class="select-input__label">Giá</span>
                                <i class="select-input__icon fas fa-angle-down"></i>
                                <ul class="select-input__list">
                                    <li class="select-input__item">
                                        <a href="/searchProduct/?nameProduct=desc&page=0" class="select-input__link">Giá:
                                            thấp đến cao</a>
                                    </li>
                                    <li class="select-input__item">
                                        <a href="/searchProduct/?nameProduct=asc&page=0" class="select-input__link">Giá:
                                            cao đến thấp</a>
                                    </li>

                                </ul>
                            </div>
                        </form>
                    </th:block>
                </div>
                <div class="home-product ">
                    <!-- grid -> row -> column -->
                    <div class="grid__row">
                        <!-- product item -->
                        <th:block th:if="${product != null}">
                            <div class="grid__column-2-4" th:each="color:${product}">
                                <a class="home-product-item"
                                   th:href="@{/product-detail/{id}(id=${color.product.idProduct})}">
                                    <div class="home-product-item__img"
                                         th:style="'background-image:url('+${'/Images/'+color.product.getImage1()}+')'"></div>
                                    <h4 class="home-product-item__name" th:text="${color.product.productName}"></h4>
                                    <div class="home-product-item__price">
                                        <span class="home-product-item_price-current">[[${color.price}]] USD</span>
                                    </div>
                                </a>
                            </div>
                        </th:block>


                    </div>

                    <div class="container text-center">
                        <!--/*@thymesVar id="hasPrevious" type=""*/-->
                        <a th:href="@{'/viewShop/'+${idUser}(page=${product.number - 1})}"
                           th:if="${product.hasPrevious()}"><i class="fa-solid fa-angle-left"></i></a>
                        <!--    <span th:text="${employee.number + 1}"></span>/<span th:text="${employee.totalPages}"></span>-->
                        <th:block th:each="i: ${#numbers.sequence(0, 1)}"
                                  th:if="${product.number < product.totalPages - 1}">
                            <a th:href="@{'/viewShop/'+${idUser}(page=${product.number + i})}"
                               th:text="${product.number + i +1}"></a>
                        </th:block>

                        <!--/*@thymesVar id="number" type=""*/-->
                        <a th:href="@{'/viewShop/'+${idUser}(page=${product.number + 1})}"
                           th:if="${product.hasNext()}"><i class="fa-solid fa-angle-right"></i></a>
                    </div>

                </div>
                <th:block th:if="${listProduct != null}">
                    <ul class="pagination home-product__pagination">
                        <li class="pagination-item">
                            <a th:href="@{'/searchProduct/'(page=${listProduct.number -1})}"
                               th:if="${listProduct.hasPrevious()}" class="pagination-item__link">
                                <img class="pagination-item__icon fas" src="/Images/arrrowleft.png" alt=""/>
                            </a>
                        </li>
                        <th:block th:if="${listProduct.number >1}">
                            <li class="pagination-item ">
                                <a th:href="@{'/searchProduct/'(page=${listProduct.number -1})}"
                                   class="pagination-item__link" th:text="${listProduct.number - 1}"></a>
                            </li>
                        </th:block>
                        <li class="pagination-item pagination-item--active">
                            <a th:href="@{'/searchProduct/'(page=${listProduct.number})}" class="pagination-item__link"
                               th:text="${listProduct.number}"></a>
                        </li>
                        <th:block th:if="${listProduct.totalPages >= listProduct.number}">
                            <li class="pagination-item">
                                <a th:href="@{'/searchProduct/'(page=${listProduct.number +1})}"
                                   class="pagination-item__link" th:text="${listProduct.number+1}"></a>
                            </li>
                        </th:block>


                        <li class="pagination-item">
                            <a th:href="@{'/searchProduct/'(page=${listProduct.number + 1})}"
                               th:if="${listProduct.hasNext()}" class="pagination-item__link">
                                <img class="pagination-item__icon fas" src="/Images/arrowright.png" alt=""/>
                            </a>
                        </li>
                    </ul>
                </th:block>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{/HeaderFooter/Footer::footer_clinet}">

</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<!-- Select2 CSS -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Select2 JS -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script>
    /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }

    var maxHeight = 400;

    $(function () {

        $(".dropdown > li").hover(function () {

            var $container = $(this),
                $list = $container.find("ul"),
                $anchor = $container.find("a"),
                height = $list.height() * 1.1, // make sure there is enough room at the bottom
                multiplier = height / maxHeight; // needs to move faster if list is taller

            // need to save height here so it can revert on mouseout
            $container.data("origHeight", $container.height());

            // so it can retain it's rollover color all the while the dropdown is open
            $anchor.addClass("hover");

            // make sure dropdown appears directly below parent list item
            $list
                .show()
                .css({
                    paddingTop: $container.data("origHeight")
                });

            // don't do any animation if list shorter than max
            if (multiplier > 1) {
                $container
                    .css({
                        height: maxHeight,
                        overflow: "hidden"
                    })
                    .mousemove(function (e) {
                        var offset = $container.offset();
                        var relativeY = ((e.pageY - offset.top) * multiplier) - ($container.data("origHeight") * multiplier);
                        if (relativeY > $container.data("origHeight")) {
                            $list.css("top", -relativeY + $container.data("origHeight"));
                        }
                        ;
                    });
            }

        }, function () {

            var $el = $(this);

            // put things back to normal
            $el
                .height($(this).data("origHeight"))
                .find("ul")
                .css({
                    top: 0
                })
                .hide()
                .end()
                .find("a")
                .removeClass("hover");

        });

    });
    $(document).ready(function () {

        // Initialize select2
        $("#selUser").select2();

        // // Read selected option
        // $('#but_read').click(function(){
        //     var username = $('#selUser option:selected').text();
        //     var userid = $('#selUser').val();
        //
        //     $('#result').html("id : " + userid + ", name : " + username);
        //
        // });
    });
</script>
</body>

</html>